<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">

<head>
    <title>Make Reservation</title>
</head>

<body>

<header layout:fragment="header">
    <p>
        <a th:href="@{/rooms}">Back to rooms</a>
    </p>
    <h1>Make Room</h1>
</header>

<section layout:fragment="main">

    <!-- Logged-in user info -->
    <div class="mb-4">
        <a th:href="@{/profile}"
           th:text="'Logged in as: ' + ${me.emailAddress()} + ' (' + ${me.type()} + ')'"></a>
    </div>

    <!-- Room form -->
    <form th:action="@{/rooms/new}" method="post" th:object="${form}">


    </form>

</section>

</body>
</html>
